@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241, 245,241);
}

html {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: 'Segoe UI';
}

/* header + div {
    @apply h-[calc(100vh-72px)]
} */

/* header + div > div {
    @apply max-w-7xl mx-auto
} */

.swiper-button-prev,
.swiper-button-next {
    color: white;
    visibility: hidden;
}

.swiper-wrapper:hover + .swiper-button-prev, 
.swiper-wrapper:hover ~ .swiper-button-next,
.swiper-button-prev:hover,
.swiper-button-next:hover {
visibility: visible;
}